/CoreJava/v1ch02/CoreJava.V1.CH02/target/
/CoreJava/v1ch03/CoreJava.V1.CH03/target/
/CoreJava/v1ch03/BigIntegerTest/BigIntegerTest/target/
/CoreJava/v1ch03/BigIntegerTest/target/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/GUIFormExamples/nbproject/private/
/GUIFormExamples/build/
/TodoList/nbproject/private/
/ForVariante9/target/
